body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 243, 243);
  /* background-color: black; */
}
.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}
.discount {
  background-color: black;
  width: 100%;
  color: white;
  outline: none;
  border: none;
  height: 2.5rem;
  
}
.notes {
  margin-bottom: .5rem;
  width: 95%;
  min-height: 10rem;
  align-self: center;
  border: 1px solid grey;

  outline: none;
  max-height: 10rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.make-orange{
  color:  rgb(185, 56, 14);;
}
.notes3 {
  margin-bottom: .5rem;
  width: 95%;
  min-height: 0.5rem;
  align-self: center;
  border: 1px solid grey;

  outline: none;
  /* max-height: 10rem; */
  padding: .5rem;
  border-radius: 0.5rem;
}
.date-picker{
  /* display: block; */
  width: 35vw;
}
.notess {
  margin-bottom: .5rem;
  width: 100%;
  min-height: 20rem;
  align-self: center;
  border: 1px solid grey;

  outline: none;
  max-height: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.outer-pic{
  display: flex;
}
.hidden {
  display: none;
}
.profile-pic{
border-radius: 10%;
width: 40%;
justify-content: center;
align-items: center;
border: 1px solid rgb(185, 56, 14);
}
.low{
  color:red;
  display: inline;
}
.report-info{
  font-size: 1.5rem;
  display: block;
  align-self: center;
  margin-left: 2rem;
}
.tablee {
width: 100vw;
border: 1px solid red;
padding: 2rem;
margin-top: 20rem;

}
.make-main {
  color:  rgb(185, 56, 14);
  font-weight: 900;
}
.main-report{
  /* background-color: rgba(185, 57, 14, 0.096); */
  min-height: 90vh;
  border-radius: 4px;
  /* border:1px solid  rgb(185, 56, 14); */
  padding: 1rem;

}
.higher {
  height: 25rem;
}
.floater2

.table-container {
  /* margin-top: 245rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.centered-table {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
}

.centered-table th,
.centered-table td {
  padding: 8px;
  border: 1px solid #ddd;
}
.flat {
  display: flex;
  justify-content: center;
  align-items: center;
}
.light {
  font-weight: 200;
}
.close-out-top {
  position: relative;
}
.close-out{
  cursor: pointer;


font-size: 2rem;



}
.main-middle{
  display: flex;
  justify-content: space-around;

}
/* floater */

.rightt {

}
.approve {
  display: flex;
  justify-content: space-evenly;

}

.low {
  /* margin-left: 60%; */
  margin-top: 5%;
  margin-left: 30%;
}

.hover:hover {
  transform: scale(1.025);
  transition: 0.5s;
  /* border */
}
.big {
  display: inline;
  font-size: 26px;
}
.noline {
  display: inline;
}
.small {
  font-size: 16px;
  font-weight: 200;
}
.smaller {
  font-size: 16px;
  font-weight: 200;
}
.smaller2 {
  font-size: 16px;
  /* font-weight: 200; */
}
.btnred {
  background-color: rgb(185, 56, 14);
}
.push {
  margin-right: 2rem;
  width: 4rem;
}
.form-container {
  width: 90%;
  margin: 0 auto;
  margin-right: 50%;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left:3%;
}
.orderbtn {
  width: 90%;
  margin-left:3%;
  margin-top: 5%;
}

button
.form-container label {
  display: block;
  margin-bottom: 5px;
}
.balance {
  display: flex;
  justify-content: fl;
  align-items: center;
}
.larger {
justify-content: flex-start;
align-items: flex-start;
align-self: flex-start;
width: 23rem;
}
.accepted {
  margin-top: 5%;
  width: 90%;
  margin-left:3%;
}

.form-container input {
  width: 100%;
  padding: 4px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.inp{
 font-style: italic;
}


.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.form-container button:hover {
  background-color: #0056b3;
}

.navstyle {
  background-color: rgb(185, 56, 14);
  color: azure;
  /* position: fixed;
  width: 100vw;
  z-index: 10; */
}
.white {
  color: azure;
}
.namestyle {
  color: black;
  text-decoration: none;
}
.brown {
  color: rgb(185, 56, 14);
}
.changer {
  color: rgb(185, 56, 14);

}
.changer2 {
  color:  rgb(185, 56, 14);

}
.btn-primary,
.btn-outline-primary {
  background-color: rgb(185, 56, 14);
  /* color: #000000; */
  border: none;
}

.floater{
  font-size: 24px;
  position:fixed;
  right: 00;
  /* left: 200; */
  margin-right:.5rem;
  margin-top:  -3.0rem;


  z-index: 20;

}


.floater2{
  font-size:32px;
  position:fixed;
  right: 00;
  /* left: 200; */
  margin-right:5rem;
  margin-top:  -3.5rem;


  z-index: 20;

}
.fixed {
  position: fixed;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: rgb(185, 56, 14);
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid rgb(185, 56, 14);
  color: rgb(185, 56, 14);
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: fixed;
  left: -300px;
  background-color: rgba(185, 57, 14, 0.415);
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}
#admin-nav-dropdown {
  color: white;
}

#basic-nav-dropdown {
  color: white;
}
